on: [push]
name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.18.x]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Add loopback aliases
      if: matrix.os == 'macos-latest'
      shell: bash
      run: |
        sudo ifconfig lo0 alias 127.0.0.2 up
        sudo ifconfig lo0 alias 127.0.0.3 up
        sudo ifconfig lo0 alias 127.0.0.4 up
        sudo ifconfig lo0 alias 127.0.0.5 up
        sudo ifconfig lo0 alias 127.0.0.6 up
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: go test -v ./...
